body{
    background-color: lightgray;
    position: relative;
}

h1{
    text-align: center;
}

div{
    width: 100px;
    height: 100px;
    background-color: darkgray;
}

.piscar{
    animation-name: piscar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes piscar{
    50% {background-color: blue;}
    100% { background-color: red;}
}

.girar{
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes girar{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.sumir{
    height: 100px;
    width: 200px;
    background-color: darkgray;

}

.sumir:focus{
    animation-name: sumir;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes sumir {
    100% {opacity: 0%;}
}

.subir-background{
    height: 300px;
    position: relative;
}

.subir{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: darkgray;
    border: none;
    position: absolute;
    bottom: 0;
}

.subir:focus{
    animation-name: subir;
    animation-duration: 2s;
}

@keyframes subir {
    50% {bottom: 200px;}
}

.explodir{

}

.explodir:hover{
    animation-name: explodir;
    animation-duration: 2s;
}

@keyframes explodir {
    50% {height: 150px;
        width: 150px;
    }
    100%{
        height: 200px;
        width: 200px;
        background-color: red;
    }
}

.loading{
    display: flex;
    width: 200px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.bola{
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    background-color: lightgray;
}

.a{
    animation-name: a;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

.b{
    animation-name: b;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.c{
    animation-name: c;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes a {
    25% {opacity: 0%;}
    50% {opacity: 100%;}
}

@keyframes b {
    50% {opacity: 0%;}
    75% {opacity: 100%;}
}

@keyframes c {
    75% {opacity: 0%;}
    100% {opacity: 100%;}
}

.mudar-background{
    position: relative;
    height: 50px;
}

.mudar1{
    position: absolute;
    animation-name: mudar1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mudar2{
    position: absolute;
    animation-name: mudar2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes mudar1 {
    60% {opacity: 0%;}
    90% {opacity: 100%;}
}

@keyframes mudar2 {
    0% {opacity: 0%;}
    40% {opacity: 100%;}
}

.parallax-background{
    height: 150px;
    width: 300px;
    background-image: url(./background.jpg);
    background-position: center right;
    position: relative;
    animation: parallax-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.parallax{
    position: absolute;
    bottom: 0;
    animation: parallax;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-image: url(./arvore.png);
    background-size: cover;
}

@keyframes parallax-background{
    0% {background-position: center left;}
    100% {background-position: center right;}
}

@keyframes parallax {
    0% {left: 0;}
    100% {left: 200px;}
}